@page "/Form"
@inject ILogger<Form> Logger

@using BlazorAppTailwind.Models
@using BlazorAppTailwind.Service


<div class="bg-[#171B27] text-white h-screen gap-4 pl-20 pt-20">
    <h3 class="text-6xl">Let's chat!</h3>
    <p>We'd love to chat, please informe the information about your ship and we'll be in touch as quicky as possible.</p>

    <EditForm Model="Model" class="flex flex-col items-start" OnSubmit="Submit" FormName="Starship1">
        <div class="mt-4 mb-4 flex flex-col w-2/3">
            <label for="name">NOME:</label>
            <InputText class="bg-[#1D2034] p-2 rounded-lg" id="name" @bind-Value="Model!.Name" />
        </div>
        <div class="mt-4 mb-4 flex flex-col w-2/3">
            <label for="company">EMPRESA:</label>
            <InputText class="bg-[#1D2034] p-2 rounded-lg" id="company" @bind-Value="Model!.Company" />
        </div>
        <div class="mt-4 mb-4 flex flex-col w-2/3">
            <label for="email">EMAIL:</label>
            <InputText class="bg-[#1D2034] p-2 rounded-lg" id="email" @bind-Value="Model!.Email" />
        </div>
        <div class="mt-4 mb-4 flex flex-col w-2/3">
            <label for="phone">TELEFONE:</label>
            <InputText class="bg-[#1D2034] p-2 rounded-lg" id="phone" @bind-Value="Model!.Phone" />
        </div>
        <div class="mt-4 mb-4 flex gap-4 w-2/3">
            <input type="checkbox" id="privacy">
            <label for="privacy" class="fine-print">I agree that my personal data will be processed in accordance with the <a href="#">Privacy Policy</a></label>
        </div>
        <div>
            <button class="bg-[#6A20E4] p-3 pl-3 pr-4 rounded-lg" type="submit">Submit</button>
        </div>
    </EditForm>
</div>


@code {
    [SupplyParameterFromForm]
    private Starship? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        Console.WriteLine($"Recebi um POST para: {Model?.Name} em {DateTime.Now}");
        Logger.LogInformation("Id = {Id}", Model?.Name);

        if (Model is not null)
        {
            StarshipRepository.SaveStarship(Model);
        };
    }
}
