@page "/starships"
@inject ILogger<Form> Logger

@using BlazorAppTailwind.Service
@using BlazorAppTailwind.Models

<h1>Starships</h1>

<div>
    <table class="w-2/3 m-auto table-fixed shadow-xl">
        <thead class="bg-[#E9EAEB]">
            <tr class="border-collapse border-b-4 border-[#00D69F]">
                <th class="h-10 p-4">Nome</th>
                <th class="h-10 p-4">Empresa</th>
                <th class="h-10 w-26">Edit</th>
                <th class="h-10 w-26">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ship in Model)
            {
                <tr class="border-collapse border-b-4 border-gray-400">
                    <td class="h-10 p-4 text-center">@ship.Name</td>
                    <td class="h-10 p-4 text-center">@ship.Company</td>
                    <td class="h-10 p-4">
                        <div class="flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-[#36A7FA]">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                        </div>

                    </td>
                    <td class="h-10 p-4">
                        <div class="flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-[#FF6868]">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                            </svg>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Starship> Model { get; set; }

    protected override void OnInitialized()
    {
        Model = StarshipRepository.GetStarships();
    }
}
