@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BlazorAppTailwind.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>


<div class="flex flex-col items-center h-screen justify-center bg-gray-200">
    
    <div class="grid grid-cols-6">
        <div class="flex flex-row-reverse col-span-2 col-start-2">
            <img class="w-180 rounded-lg shadow-md ml-6" src="/Images/imagem_login.png" alt="User Icon" />
        </div>
        <div class="col-span-2 col-start-4 bg-white">
            <div class="w-90 m-auto p-8 pt-24">
                <section>
                    <StatusMessage Message="@errorMessage" />
                    <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
                        <DataAnnotationsValidator />
                        <div class="flex items-center justify-center"">
                            <h2 class="font-[700] text-2xl">LOGIN</h2>
                        </div>

                        <ValidationSummary class="text-danger" role="alert" />
                        <div class="flex flex-col form-floating mb-3">
                            <label for="Input.Email" class="inline-block form-label">Email</label>
                            <InputText @bind-Value="Input.Email" id="Input.Email" class="p-2 h-8 mt-1 w-80 rounded-sm form-control bg-gray-200" autocomplete="username webauthn" aria-required="true" placeholder="name@example.com" />
                            <ValidationMessage For="() => Input.Email" class="text-danger" />
                        </div>
                        <div class="flex flex-col form-floating mb-3">
                            <label for="Input.Password" class="inline-block form-label">Password</label>
                            <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="p-2 h-8 mt-1 w-80 rounded-sm form-control bg-gray-200" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <ValidationMessage For="() => Input.Password" class="text-danger" />
                        </div>
                        <div class="flex flex-row justify-between checkbox mb-3">
                            <label class="form-label">
                                <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                                Remenber me
                            </label>
                            <p class="text-blue-300">
                                <a href="Account/ForgotPassword">Esqueceu a senha?</a>
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="h-8 w-80 text-white bg-[#00A5F1]">Entrar</button>
                        </div>
                        <div class="d-flex flex-column mt-2">
                            <p>
                                Não tem Conta? <a class="text-[#00A5F1]" href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Inscreva-se</a>
                            </p>

                        </div>
                        <div class="d-flex flex-column mt-2">
                            <p>
                                <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </EditForm>
                </section>
            </div>
        </div>

    </div>
</div>


@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        if (!string.IsNullOrEmpty(Input.Passkey?.Error))
        {
            errorMessage = $"Error: {Input.Passkey.Error}";
            return;
        }

        SignInResult result;
        if (!string.IsNullOrEmpty(Input.Passkey?.CredentialJson))
        {
            // When performing passkey sign-in, don't perform form validation.
            result = await SignInManager.PasskeySignInAsync(Input.Passkey.CredentialJson);
        }
        else
        {
            // If doing a password sign-in, validate the form.
            if (!editContext.Validate())
            {
                return;
            }

            // This doesn't count login failures towards account lockout
            // To enable password failures to trigger account lockout, set lockoutOnFailure: true
            result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        }

        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }

        public PasskeyInputModel? Passkey { get; set; }
    }
}
