@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazorAppTailwind.Data

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<div class="flex flex-col items-center h-screen justify-center bg-gray-200">
    <div class="grid grid-cols-6">
        <div class="flex flex-row-reverse col-span-2 col-start-2">
            <img class="w-180 rounded-lg shadow-md ml-6" src="/Images/imagem_login.png" alt="Register Icon" />
        </div>
        <div class="col-span-2 col-start-4 bg-white">
            <div class="w-90 m-auto p-8 pt-12">
                <section>
                    <StatusMessage Message="@Message" />
                    <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
                        <DataAnnotationsValidator />
                        <div class="flex items-center justify-center mb-6">
                            <h2 class="font-[700] text-2xl uppercase tracking-wider">Registrar</h2>
                        </div>

                        <ValidationSummary class="text-danger mb-4" role="alert" />

                        <div class="flex flex-col mb-3">
                            <label for="Input.Email" class="inline-block font-medium text-sm text-gray-700">Email</label>
                            <InputText @bind-Value="Input.Email" id="Input.Email" class="p-2 h-8 mt-1 w-80 rounded-sm bg-gray-200 focus:ring-1 focus:ring-blue-400 outline-none transition-all" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                            <ValidationMessage For="() => Input.Email" class="text-xs text-red-500 mt-1" />
                        </div>

                        <div class="flex flex-col mb-3">
                            <label for="Input.Password" class="inline-block font-medium text-sm text-gray-700">Senha</label>
                            <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="p-2 h-8 mt-1 w-80 rounded-sm bg-gray-200 focus:ring-1 focus:ring-blue-400 outline-none transition-all" autocomplete="new-password" aria-required="true" placeholder="Sua senha" />
                            <ValidationMessage For="() => Input.Password" class="text-xs text-red-500 mt-1" />
                        </div>

                        <div class="flex flex-col mb-6">
                            <label for="Input.ConfirmPassword" class="inline-block font-medium text-sm text-gray-700">Confirmar Senha</label>
                            <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="p-2 h-8 mt-1 w-80 rounded-sm bg-gray-200 focus:ring-1 focus:ring-blue-400 outline-none transition-all" autocomplete="new-password" aria-required="true" placeholder="Confirme sua senha" />
                            <ValidationMessage For="() => Input.ConfirmPassword" class="text-xs text-red-500 mt-1" />
                        </div>

                        <div>
                            <button type="submit" class="h-10 w-80 text-white bg-[#00A5F1] hover:bg-[#0084c2] transition-colors font-bold rounded-sm">Criar Conta</button>
                        </div>

                        <div class="flex flex-col mt-4 text-sm">
                            <p>
                                Já tem uma conta? <a class="text-[#00A5F1] hover:underline" href="Account/Login">Entre aqui</a>
                            </p>
                        </div>
                    </EditForm>
                </section>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized()
    {
        Input ??= new();
    }

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }
        else
        {
            await SignInManager.SignInAsync(user, isPersistent: false);
            RedirectManager.RedirectTo(ReturnUrl);
        }
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
